[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-git-committers-plugin-2 = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-rss-plugin = "*"
mkdocs-open-in-new-tab = "*"

[dev-packages]

[requires]
python_version = "3.12"
